<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/main.css">
  <title>{{ title | default("Meu Blog") }}</title>
</head>
<body>
  <header>
    <h1>My Blog Test</h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>© 2024 My New Test</p>
  </footer>
</body>
</html>
